.title {
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF6060;
}

.titleSelected {
    padding: 20px;
    font-weight: bold;
    background-color: #FF6060;
    color: white;
}

.content {
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease;
    color: #FF6060;
    background-color: grey;
    padding: 0 20px;
}

.contentShow {
    height: 80%;
    padding: 20px 20px 0 20px;
    color: #FF6060;
    background-color: #F5F5F5;
}

.item {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

.equipment {
    text-align: left;

}

@media (max-width: 1023px) {

}