.title {
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF6060;
}

.titleSelected {
    padding: 20px;
    font-weight: bold;
    background-color: #FF6060;
    color: white;
}

.content {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    color: #FF6060;
    height: 0;
}

.contentShow {
   padding: 20px 20px 0 20px;
   transition: all 0.6s ease-in-out;
   height: 80%;
   background-color: #F5F5F5;
}

.item {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

.equipment {
    text-align: left;

}

@media (max-width: 1023px) {

}