.title, .titleSelected {
    padding: 10px 20px; /* 10px pour le padding vertical, 20px pour le padding horizontal */
    font-weight: bold;
    color: white;
    background-color: #FF6060;
    display: flex; /* Ajoute flexbox */
    justify-content: space-between; /* Distribue l'espace entre les éléments */
    align-items: center; /* Centrer les éléments verticalement */
}

.content {
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    color: #FF6060;
    height: 0;
}

.contentShow {
   padding: 10px 20px 0 20px; /* 10px pour le padding vertical, 20px pour le padding horizontal */
   transition: all 0.6s ease-in-out;
   height: 80%;
   background-color: #F5F5F5;
}

.item {
    flex: 1;
}

ul {
    list-style-type: none;
    padding: 0;
}

.equipment {
    text-align: left;
}

@media (max-width: 1023px) {

}
