.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.link {
    margin-right: 57px;
}

.test {
    fill: white;
    background-color: red;
}
