.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.apartmentImage, .hostImage {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}

.apartmentImage {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.8em;
    color: #333;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 10px;
}

.hostInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.hostInfo h3 {
    margin-bottom: 10px;
}
